.cell {
  width: 100px;
  height: 100px;
  background: white;
  border: 1px solid #333;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}

.cell:not(:last-child) {
  border-right: 2px solid var(--dark-color);
}

.cell:hover {
  background-color: #f0f0f0;
}

.cell:focus {
  outline: none;
  background-color: #e0e0e0;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--dark-color);
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.board-row {
  display: flex;
}

.board-row:not(:last-child) {
  border-bottom: 2px solid var(--dark-color);
}

/* Default highlight animation */
@keyframes highlight {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: lightgreen;
  }
  100% {
    background-color: lightgreen;
  }
}

/* Apply highlight animation */
.winning-cell {
  animation: highlight 1s ease-in-out forwards;
}

@keyframes draw-line-horizontal {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes draw-line-vertical {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes draw-line-diagonal {
  0% {
    transform: translateY(-50%) rotate(45deg) scaleX(0);
  }
  100% {
    transform: translateY(-50%) rotate(45deg) scaleX(1);
  }
}

@keyframes draw-line-diagonal-reverse {
  0% {
    transform: translateY(-50%) rotate(-45deg) scaleX(0);
  }
  100% {
    transform: translateY(-50%) rotate(-45deg) scaleX(1);
  }
}

.winning-line {
  position: absolute;
  background-color: red;
  height: 5px;
  width: 100%;
  top: 50%;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
}

.winning-line.show {
  animation: draw-line-horizontal 0.5s ease-in-out forwards;
}

.winning-line-vertical {
  position: absolute;
  background-color: red;
  width: 5px;
  height: 100%;
  left: 50%;
  top: 0;
  transform-origin: top;
  transform: scaleY(0);
}

.winning-line-vertical.show {
  animation: draw-line-vertical 0.5s ease-in-out forwards;
}

.line-0-1-2 {
  top: 16.5%;
}

.line-3-4-5 {
  top: 50%;
}

.line-6-7-8 {
  top: 83.5%;
}

.line-0-3-6,
.line-1-4-7,
.line-2-5-8 {
  width: 5px;
  height: 100%;
  position: absolute;
  background-color: red;
  transform-origin: top;
  transform: scaleY(0);
}

.line-0-3-6 {
  left: 16.5%;
  top: 0;
}

.line-1-4-7 {
  left: 50%;
  top: 0;
}

.line-2-5-8 {
  left: 83.5%;
  top: 0;
}

.line-0-3-6.show,
.line-1-4-7.show,
.line-2-5-8.show {
  animation: draw-line-vertical 0.5s ease-in-out forwards;
}

.line-0-4-8,
.line-2-4-6 {
  width: 141.4%;
  height: 5px;
  position: absolute;
  background-color: red;
  transform-origin: left;
  transform: scaleX(0);
}

.line-0-4-8 {
  top: 0%;
  left: 0%;
  transform: translateY(-50%) rotate(45deg) scaleX(0);
}

.line-2-4-6 {
  top: 100%;
  left: 0%;
  transform: translateY(-50%) rotate(-45deg) scaleX(0);
}

.line-0-4-8.show {
  animation: draw-line-diagonal 0.5s ease-in-out forwards;
}

.line-2-4-6.show {
  animation: draw-line-diagonal-reverse 0.5s ease-in-out forwards;
}
